<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Add job</title>
</head>

<body>
<main layout:fragment="content">
    <div class="text-center">
        <h1>Add job</h1>
        <p class="alert alert-danger" th:if="${errMsg}" th:text="${errMsg}"></p>
        <form th:action="${@routes.OWNER_MANAGE_JOB_ADD}"
              method="post"
              th:object="${addJobCmd}">
            <div class="form-group row">
                <label for="job-name-input" class="col-3">Job</label>
                <div class="col-6">
                    <p th:each="error : ${#fields.errors('name')}"
                       th:text="${error}">Validation error</p>
                    <input type="text" class="form-control"
                           id="job-name-input"
                           required="required"
                           th:title="#{validation-add_job-title-name}"
                           th:placeholder="#{placeholder-add_job-name}"
                           th:field="*{name}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="job-age-input"
                       class="col-3">Age</label>
                <div class="col-6">
                    <input type="number" class="form-control"
                           id="job-age-input"
                           min="17"
                           max="100"
                           th:placeholder="#{placeholder-add_job-age}"
                           th:field="*{age}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="other_note-input" class="col-3">Other note</label>
                <div class="col-6">
                    <textarea class="form-control"
                              id="other_note-input"
                              maxlength="255"
                              th:field="*{otherNote}"
                              th:placeholder="#{placeholder-add_job-other_note}"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    th:text="#{button-submit}"></button>
        </form>
    </div>
</main>
</body>
</html>



